.navbar {

    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px; 
    margin: 0 auto;
    border-bottom: 1px solid #c2c2c4;
}
h1 {
    
    color: hsl(9, 81%, 35%);
}
.links {
    
    margin-left: auto;
}
    
a {
    
    margin-left: 16px; 
    text-decoration: none; 
    padding: 6px;
}S
a:hover {
    
    color: #7273a1;
}    
    